.foot{
    background-image: url('13.jpg');
    background-size: 1320px;
    background-repeat:no-repeat
}
.last{
    background-image: url('24.jpg');
    background-size: 1320px;
    background-repeat:no-repeat
}